body {
  background-image: url("/static/assets/szfEvMq.jpg");
  background-size: cover;
  padding-bottom: 15vh;
}
/* shop page - items */
.col-md-3.card {
  border: 1px solid black;
  width: 31%;
  display: inline-table;
  margin: 1%;
  border-radius: 6%;
  padding: 1.1rem;
}

.item-image {
  width: 100%;
  text-align: center;
  border: 2px solid;
  border-radius: 10px;
}

.card {
  border: 5px solid black;
  background-color: rgba(215, 245, 255, 0.84);
}

button a {
  color: #fff;
}

.item-col {
  border: 3px solid black;
  background-color: rgba(215, 245, 255, 0.84);
  border-radius: 5%;
  text-align: center;
}

h1.store-front {
  border-bottom: solid 7px #333;
  background-image: linear-gradient(rgba(255, 255, 255, 0.5), #333);
  mix-blend-mode: color-dodge;
  color: rgba(255, 255, 255, 1);
  text-align: center;
}

form {
  border: 3px solid black;
  background-color: rgba(215, 245, 255, 0.84);
  border-radius: 5%;
  /* text-align: center; */
  padding: inherit;
}
.item-col form {
  border: unset;
  background-color: unset;
}
/* footer */
footer {
  border: 1px solid black;
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  text-align: center;
  height: 15vh;
  background-color: aliceblue;
  background-image: url("/static/assets/1920x1200-px-anime-pixel-art-pixels-pokemon-pokemon-trainers-sports-football-hd-art-wallpaper-thumb.jpg");
  background-size: 73vw;
  background-position-x: 0em;
  background-position-y: 90%;
}

footer .row {
  margin-top: 4vh;
}

.fab {
  font-size: 9vh;
}
