{% extends 'base.html' %} {% block content %}
<h1>Browse our wares!</h1>

<div class="row">
  {% for item in items %}
  <div class="col-md-3 card">
    <h2>
      <a href="/items/{{ item._id }}">{{ item.title }}</a>
    </h2>
    <div class="card-body">
      <p class="card-text">
        {{ item.description }} <br />
        <strong>{{ item.price }} ₽</strong>
      </p>
      <small>
        You rated <strong>{{ item.title }}</strong
        >: {{ item.ratings }}/5
      </small>
    </div>
  </div>
  {% endfor %}
</div>
{% endblock %}
